body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f4e3;
    color: #222;
    text-align: center;
}
header {
    background: #222;
    color: white;
    padding: 15px;
}
header h1 {
    margin: 0;
    font-size: 2rem;
}
nav {
    margin-top: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffcc00;
}
.cartes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-items: center; 
  padding: 30px;
}
.carte {
    background: white;
    border-radius: 12px;
    width: 180px;         
    transition: transform 0.3s;
    cursor: pointer;
    overflow: hidden;  
    width: 200px;           
    height: 335px;     
}
.carte:hover {
    transform: scale(1.05);
}
footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
@media (max-width: 500px)
    .carte {
        width: 140px;
    }
    .carte img {
        height: 200px;}